html {
    background-color: black;
    margin:10px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 5px 5px;
    border-radius: 10px;
}

.logo {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border-radius: 80px;
    font-weight: 400;
}

.contact {
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    background-color: green;
}