* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

.nav-bar {
    color: #fff;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-bar li {
    margin: 0.6rem;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-bar a:hover {
    color: green;
}

.btn {
    margin-right: 10%;
    background-color: #2da44e;
    color: #fff;
    padding: 0.6rem 1.25rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
}

.cta {
    margin-right: 10%;
    background-color: #2da44e;
    color: #fff;
    padding: 0.6rem 1.25rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    background-color: #15154f;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 1.3rem;
    margin-left: 10%;
}

.logo img {
    margin-top: 0.3rem;
    max-height: 1.3rem;
    width: auto;
    border-radius: 1.9rem;
}

.hero-home {
    background-image: url("./img/background_code2_16x9.jpg");
    display: inline-block;
    margin-right: 10%;
    margin-left: 50%;
    height: 80vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.6rem;
    margin: 0.6rem;
    padding: 0.6rem;
}

h1 {
    background-color: #2da44e;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}