* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #15154f;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-bar li {
    margin: 10px;
}

.nav-bar a {
    color: green;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-bar a:hover {
    color: blue;
}

.cta {
    margin-right: 20px;
}

.btn {
    background-color: #fff;
    color: #15154f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    margin-left: 0;
}

.logo img {
    height: 20px;
    width: auto;
}