* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.nav-bar {
    /*background-color: #87cefa;*/
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-bar li {
    margin: 10px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-bar a:hover {
    color: green;
}

.btn {
    margin-right: 10%;
    background-color: #2da44e;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta {
    padding: 20px;
    margin: 20px;
    background-color: #2da44e;
    color:#ffff;
    padding: 10px 20px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    background-color: #15154f;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10%;
}

.logo img {
    margin-top: 5px;
    max-height: 20px;
    width: auto;
    border-radius: 30px;
}

.hero-home {
    background-image: url("./img/background_code2_16x9.jpg");
    display: inline-block;
    margin-right: 10%;
    margin-left: 10%;
    height: 50vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    justify-content: center;
}

h1 {
    margin: 10 rem;
    padding: 10 rem;
    color: #2da44e;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}
p {
    margin: 10 rem;
    padding:10 rem;
    color: #ffff;
    font-size :28px;
    font-weight:bold;
    text-align: left;
}